@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.footer {
  width: 100%;
  background: linear-gradient(90deg, #1f1f1f, #2a2a2a);
  padding: 60px 5%;
  color: #fff;
  border-radius: 24px 24px 0 0;
  font-family: "Poppins", sans-serif;
}

.footerContainer {
  max-width: 1400px;
  margin: auto;
}

.footerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.footerTop h1 {
  font-size: 64px;
  font-weight: 600;
  color: #eaeaea;
  line-height: 1.2;
}

/* Button */
.hireBtn {
  background: #ff8c42;
  color: #fff;
  border: none;
  padding: 12px 28px;
  font-size: 18px;
  border-radius: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 0.3s ease;
}

.hireBtn span {
  display: flex;
  transition: transform 0.3s ease;
}

.hireBtn:hover span {
  transform: rotate(45deg);
}

.divider {
  height: 1px;
  background: #475467;
  margin: 40px 0;
}

.footerMiddle {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1.5fr;
  gap: 50px;
}

/* About */
.logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.about p {
  color: #bdbdbd;
  line-height: 1.7;
  margin-bottom: 20px;
}

/* Social */
.socialIcons {
  display: flex;
  gap: 15px;
}
.icons {
  font-size: 25px;
  transition: 0.2s ease;
}

.icons:hover {
  color: #ff6a00;
}

.socialIcons img {
  width: 22px;
  cursor: pointer;
  transition: 0.3s;
}

.socialIcons img:hover {
  transform: scale(1.1);
}

/* Titles */
.footerCol h3 {
  margin-bottom: 20px;
  color: #ff8c42;
  font-size: 18px;
}

/* Lists */
.footerCol ul {
  list-style: none;
}

.footerCol ul li {
  margin-bottom: 12px;
  color: #d6d6d6;
  cursor: pointer;
  transition: 0.2s;
}

.footerCol ul li:hover {
  color: #fff;
}

/* Newsletter */
.newsletter .emailBox {
  display: flex;
  background: #fff;
  border-radius: 40px;
  overflow: hidden;
  margin-top: 15px;
}

.emailBox input {
  flex: 1;
  padding: 14px 18px;
  border: none;
  outline: none;
  font-size: 15px;
}

.emailBox button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff8c42;
  border: none;
  padding: 0 18px;
  cursor: pointer;
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  color: #bdbdbd;
  font-size: 14px;
  flex-wrap: wrap;
}

/* Laptop */
@media (max-width: 1200px) {
  .footerTop h1 {
    font-size: 52px;
  }

  .footerMiddle {
    grid-template-columns: 1.5fr 1fr 1fr;
  }
}

/* Tablet */
@media (max-width: 992px) {
  .footerTop {
    flex-direction: column;
    align-items: flex-start;
  }

  .footerTop h1 {
    font-size: 44px;
  }

  .footerMiddle {
    grid-template-columns: 1fr 1fr;
  }

  .footerBottom {
    flex-direction: column;
    text-align: center;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .footer {
    padding: 50px 6%;
  }

  .footerTop h1 {
    font-size: 34px;
  }

  .hireBtn {
    font-size: 14px;
    padding: 10px 20px;
  }

  .footerMiddle {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .newsletter .emailBox {
    flex-direction: column;
    border-radius: 12px;
  }

  .emailBox input {
    border-bottom: 1px solid #ddd;
  }

  .emailBox button {
    width: 100%;
    padding: 12px;
  }
}

/* Small Mobile */
@media (max-width: 480px) {
  .footer {
    padding: 40px 5%;
  }

  .footerTop h1 {
    font-size: 26px;
  }

  .footerCol h3 {
    font-size: 16px;
  }

  .footerCol ul li {
    font-size: 14px;
  }

  .about p {
    font-size: 14px;
  }
}
